h1 {
    text-align: center;
    background-color: rgb(18, 61, 126);
    padding: 10px;
    font: bold;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.IMG {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
}

img {
    height: 165px;
    width: 165px;
    border-radius: 50%;

    object-fit: cover;
}

img:hover {
    transform: scale(1.01);
    border: 2px solid black;
    cursor: pointer;

}
#msg:hover {
    transform: scale(1.01);
    border: 1px solid black;
    cursor: pointer;

}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
.score{
    text-align: center;
    
}  

#user-score ,#comp-score{
    font-size: 4rem;
}

 p{
    text-align: center
}

.msg-box{
    
    margin-top: 5rem;
}

#msg{
    background-color: rgb(11, 11, 79);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
     border-radius: 20px;
}
